.logo-img {
    max-height: 40px; /* Adjust the maximum height as needed */
    width: auto; /* Maintain aspect ratio */
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
        }
.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
        }
